Repository michalprusek/marianska: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

.lintstagedrc.json:

{
  "*.{js,mjs}": ["eslint --fix", "prettier --write", "jscpd --config .jscpd.json"],
  "*.{html,css}": ["prettier --write"],
  "*.json": ["jsonlint", "prettier --write"],
  "*.md": ["prettier --write"]
}

chore: remove generated reports, backups, and temporary files
  .gitignore
  .playwright-mcp/blocked-room-modal-final.png
  .playwright-mcp/blocked-room-modal-success.png
  .playwright-mcp/modal-view.png
  app.js.backup
  data/bookings.json.migrated-1759093964139
  jscpd-report.json/html/index.html
  jscpd-report.json/html/js/prism.js
  jscpd-report.json/html/jscpd-report.json
  jscpd-report.json/html/styles/prism.css
  jscpd-report.json/html/styles/tailwind.css
  jscpd-report.json/jscpd-report.json
  merge-summary.md
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

feat: comprehensive security fixes and performance optimizations
  CHANGELOG_2025-10-04.md
  CLAUDE.md
  admin.html
  admin.js
  data.js
  database.js
  edit.html
  eslint.config.mjs
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/calendar-utils.js
  js/calendar.js
  js/shared/BaseCalendar.js
  js/shared/bookingLogic.js
  js/shared/dateUtils.js
  js/shared/validationUtils.js
  js/single-room-booking.js
  js/utils.js
  marianska-chata.service
  package.json
  server.js
  start.sh
  startup-daemon.sh
  startup.sh
  stop.sh
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: make updateEditPrice async to fix await syntax error
  admin.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: add comprehensive logging system and security improvements
  LOGGING_GUIDE.md
  admin.html
  admin.js
  css/styles-unified.css
  data.js
  database.js
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/calendar.js
  js/shared/BaseCalendar.js
  js/shared/bookingLogic.js
  js/shared/validationUtils.js
  js/single-room-booking.js
  server.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: implement database-backed session storage and structured logging
  .husky/pre-commit
  CHANGELOG_2025-10-04.md
  database.js
  js/shared/errors.js
  js/shared/logger.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: comprehensive security fixes and performance optimizations (#2)
  .husky/pre-commit
  CHANGELOG_2025-10-04.md
  CLAUDE.md
  LOGGING_GUIDE.md
  admin.html
  admin.js
  css/styles-unified.css
  data.js
  database.js
  edit.html
  eslint.config.mjs
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/calendar-utils.js
  js/calendar.js
  js/shared/BaseCalendar.js
  js/shared/bookingLogic.js
  js/shared/dateUtils.js
  js/shared/errors.js
  js/shared/logger.js
  js/shared/validationUtils.js
  js/single-room-booking.js
  js/utils.js
  marianska-chata.service
  package.json
  server.js
  start.sh
  startup-daemon.sh
  startup.sh
  stop.sh
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

Add favicon icons for better branding
  favicon.ico
  favicon.svg
Due: none

feat: implement date-based Christmas access code rules
  CLAUDE.md
  Dockerfile
  admin.js
  data.js
  database.js
  docker-compose.yml
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/calendar.js
  js/shared/BaseCalendar.js
  package.json
  server.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: address code review issues and improve security
  CLAUDE.md
  admin.js
  data.js
  docker-compose.dev.yml
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/shared/BaseCalendar.js
  js/shared/logger.js
  server.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: SSOT consolidation and inclusive date model fixes
  CLAUDE.md
  admin.html
  admin.js
  css/styles-unified.css
  data.js
  database.js
  edit.html
  index.html
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/calendar.js
  js/shared/BaseCalendar.js
  js/shared/bookingLogic.js
  js/shared/christmasUtils.js
  js/shared/dateUtils.js
  js/shared/errors.js
  js/shared/idGenerator.js
  js/shared/logger.js
  js/shared/priceCalculator.js
  js/single-room-booking.js
  server.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement code review recommendations
  .jscpd.json
  admin.js
  index.html
  js/shared/dateUtils.js
  tests/helpers/testFixtures.js
  tests/unit/christmasUtils.test.js
  tests/unit/idGenerator.test.js
  tests/unit/priceCalculator.test.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: remove misleading 'not clickable' text from occupied room legend
  CLAUDE.md
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement comprehensive access logging for IT security compliance
  ACCESS_LOGGING_DOCS.md
  ACCESS_LOGGING_SUMMARY.md
  CLAUDE.md
  docker-compose.yml
  js/shared/accessLogger.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement critical bug fixes and SSOT consolidation
  .gitignore
  .jscpd.json
  CHANGELOG_2025-10-04.md
  LOGGING_GUIDE.md
  TESTING.md
  TEST_SUMMARY.md
  admin.html
  admin.js
  data.js
  data/README.md
  database.js
  edit.html
  index.html
  js/booking-app.js
  js/bulk-booking.js
  js/single-room-booking.js
  js/utils.js
  server.js
  tests/INSTALLATION.md
  tests/README.md
  tests/helpers/testFixtures.js
  tests/unit/priceCalculator.test.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: correct script loading order to resolve IdGenerator undefined error
  admin.html
  edit.html
  index.html
Due: prettier --write

feat: implement E2E tests and fix back-to-back booking logic
  .jscpd.json
  admin.html
  admin.js
  js/shared/bookingLogic.js
  package.json
  playwright.config.js
  tests/backend/server.test.js
  tests/e2e/README.md
  tests/e2e/admin-panel.spec.js
  tests/e2e/booking-flow.spec.js
  tests/e2e/christmas-logic.spec.js
  tests/e2e/edge-cases.spec.js
  tests/e2e/helpers/test-helpers.js
  tests/e2e/room-booking.spec.js
  tests/unit/dataManager.test.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

feat: implement email service, edit page refactor, and 72-hour edit deadline
  .env.example
  .husky/pre-commit
  CLAUDE.md
  EDIT_DEADLINE_FEATURE.md
  EMAIL_IMPLEMENTATION_SUMMARY.md
  admin.html
  admin.js
  css/styles-unified.css
  data.js
  database.js
  docs/API.md
  docs/BUSINESS_RULES.md
  edit.html
  eslint.config.mjs
  index.html
  js/calendar.js
  js/edit-page.js
  js/shared/BaseCalendar.js
  js/shared/EditBookingComponent.js
  js/shared/accessLogger.js
  js/shared/bookingDisplayUtils.js
  js/shared/bookingLogic.js
  js/shared/dateUtils.js
  js/shared/emailService.js
  js/utils.js
  package-lock.json
  package.json
  server.js
  test-admin-flow.js
  test-blockages.js
  test-create-blockage.js
  test-email-demo.js
  test-email.js
  test-guest-distribution.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: code review findings and eslint configuration
  .dockerignore
  .husky/pre-commit
  .jscpd.json
  SMTP_VERIFICATION.md
  admin.html
  edit.html
  eslint.config.mjs
  js/booking-app.js
  js/bulk-booking.js
  js/edit-page.js
  js/shared/EditBookingComponent.js
  js/shared/bookingDisplayUtils.js
  js/shared/bookingUtils.js
  js/single-room-booking.js
  server.js
  tests/test-admin-flow.js
  tests/test-blockages.js
  tests/test-create-blockage.js
  tests/test-email-demo.js
  tests/test-email.js
  tests/test-guest-distribution.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

feat: add bulk booking summary card with smart guest distribution
  js/shared/EditBookingComponent.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: add bulk calendar editing and fix pre-commit hook
  .husky/pre-commit
  js/shared/EditBookingComponent.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement guest names collection feature
  admin.html
  admin.js
  css/styles-unified.css
  database.js
  docker-compose.yml
  index.html
  js/booking-app.js
  js/booking-form.js
  js/edit-page.js
  js/shared/accessLogger.js
  js/shared/bookingLogic.js
  js/shared/dateUtils.js
  js/shared/emailService.js
  scripts/README.md
  scripts/migrate-guest-names.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: add guest names to getAllBookings and update form generation
  .eslintignore
  .husky/pre-commit
  .lintstagedrc.json
  database.js
  index.html
  js/booking-app.js
  js/booking-form.js
  scripts/migrate-guest-names.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: correctly load bulk booking guest counts in edit page
  js/bulk-booking.js
  js/shared/EditBookingComponent.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement guest names collection feature
  data.js
  database.js
  js/booking-app.js
  js/booking-form.js
  js/shared/bookingDisplayUtils.js
  js/shared/emailService.js
  js/utils.js
  scripts/migrate-guest-names.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

chore: apply linter fixes for no-param-reassign and template literals
  js/edit-page.js
  js/shared/dateUtils.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement multi-room booking with per-room configuration
  CHANGES-SUMMARY.md
  CLAUDE.md
  EDIT-ROOM-RESTRICTIONS.md
  TEST-INSTRUCTIONS.md
  admin.html
  admin.js
  data.js
  database.js
  docs/API.md
  docs/BUSINESS_RULES.md
  edit.html
  js/booking-form.js
  js/edit-page.js
  js/shared/EditBookingComponent.js
  js/shared/bookingDisplayUtils.js
  js/shared/emailService.js
  js/shared/priceCalculator.js
  server.js
  test-booking.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: apply code review improvements
  CHANGES-SUMMARY.md
  data.js
  js/shared/EditBookingComponent.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: resolve critical code review issues
  .husky/pre-commit
  js/booking-form.js
  js/shared/EditBookingComponent.js
  server.js
  test-booking.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: add email notifications and christmas improvements
  CHRISTMAS_EDGE_CASE_VERIFICATION_REPORT.md
  CHRISTMAS_VERIFICATION_REPORT.md
  CLAUDE.md
  PROPOSED_BOOKINGS_ANALYSIS.md
  PROPOSED_BOOKINGS_CODE_FLOW.md
  PROPOSED_BOOKINGS_INDEX.md
  PROPOSED_BOOKINGS_SUMMARY.txt
  admin.html
  admin.js
  data.js
  database.js
  js/booking-app.js
  js/booking-form.js
  js/bulk-booking.js
  js/shared/christmasUtils.js
  js/shared/emailService.js
  js/utils.js
  server.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: improve accessibility and code robustness
  index.html
  js/booking-app.js
  js/booking-form.js
  js/edit-page.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

test: add comprehensive test suite and cleanup legacy config
  .jscpd.json
  .mcp.json
  .serena/.gitignore
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  eslint.config.mjs
  test-accessibility.js
  test-booking-flow.js
  test-christmas-logic.js
  test-christmas-room-limit.js
  test-frontend-devtools.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json, jsonlint

fix: resolve critical email error handling issues
  js/shared/emailService.js
  server.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

feat: implement mobile responsiveness and css refactoring
  admin.html
  css/mobile-improvements.css
  css/styles-unified.css
  docs/CSS_REFACTORING_CHECKLIST.md
  docs/CSS_REFACTORING_PLAN.md
  docs/CSS_REFACTORING_SUMMARY.md
  docs/CSS_STRUCTURE_DIAGRAM.txt
  docs/MOBILE_CALENDAR_VERTICAL_LAYOUT.md
  docs/MOBILE_IMPLEMENTATION_SUMMARY.md
  docs/MOBILE_RESPONSIVENESS_AUDIT.md
  edit.html
  index.html
  js/booking-app.js
  js/bulk-booking.js
  js/calendar.js
  js/utils.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: address code review issues
  CLAUDE.md
  admin.html
  css/mobile-improvements.css
Due: prettier --write

feat: add floor information to room information modal
  CLAUDE.md
  js/booking-app.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: comprehensive mobile UX improvements and Apple HIG compliance
  MOBILE_TEST_REPORT.md
  css/mobile-improvements.css
  tests/manual/test-mobile-responsive.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json

fix: correct mobile modal CSS documentation and improve flexibility
  css/mobile-improvements.css
  css/styles-unified.css
  docs/DEPLOYMENT_VERIFICATION_2025-10-20.md
  docs/MOBILE_MODAL_REDESIGN.md
Due: prettier --write

feat: add language-specific room numbering with p/r prefix
  docs/CSS_SIMPLIFICATION_2025-10-20.md
  docs/TRANSLATION_UPDATES_2025-10-20.md
  js/calendar.js
  js/shared/BaseCalendar.js
  js/shared/bookingDisplayUtils.js
  translations.js
Due: eslint --fix, prettier --write, jscpd --config .jscpd.json
